body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.note-container {
    width: 100%;
    padding: 20px;
}

.note {
    width: 225px;
    min-height: 170px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
}

.note:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
}

.note-link {
    text-decoration: none;
    color: black;
    display: block;
    padding: 5px 0;
    cursor: pointer;
}

.note-title {
    font-weight: bold;
    font-size: 18px;
}

.note-description {
    font-size: 14px;
    opacity: 0.8;
}

.note-link:hover {
    color: #333;
    opacity: 0.9;
}
