<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head-full (titulo='Notas Estilo Post-it')"></head>
<link rel="stylesheet" href="/css/Escritorio.css"> <!-- Enlace al archivo CSS -->
<body>

<nav class="navbar position-absolute top-0 start-0 z-3 navbar-div">
  <div class="container-fluid">
    <button id="show-toggle-menu-button" class="navbar-toggler" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="note-container">
  <div th:each="nota : ${notas}"
       th:attr="data-id=${nota.id}"
       th:style="'position: absolute; left:' + ${nota.posicionX} + 'px; top:' + ${nota.posicionY} + 'px;'">

    <div class="note" th:style="'background-color: #' + ${nota.color}">
      <p th:text="${nota.titulo}">Título de la nota</p>
      <p th:text="${nota.descripcion}">Descripción de la nota</p>
    </div>
    <br/>
  </div>
</div>

<div id="context-menu" class="context-menu">
  <ul>
    <li id="edit-note">✏️ Editar</li>
    <li id="delete-note">🗑️ Borrar</li>
  </ul>
</div>


<div id="toggle-menu" class="h-100 position-absolute top-0 start-0 z-3">
  <button id="close-toggle-menu-button" class="position-absolute top-0 end-0 m-2">
    <img th:src="@{/images/x.svg}" src="../static/images/x.svg" alt="Close Menu">
  </button>

  <div class="views-container w-100">

    <div class="views-menu w-95 mx-3 mb-3 overflow-y-hidden">

      <h3>Escritorios</h3>

      <div class="overflow-y-scroll h-100 w-100 d-flex flex-wrap justify-content-around mb-2">

        <div class="card escritorio-card" th:each="escritorio : ${escritorios}"
             th:attr="data-id=${escritorio.id}">
          <p th:text="${escritorio.nombre}" class="text-center m-auto fs-3"/>
        </div>

        <div class="overflow-separator"></div>

      </div>

    </div>

    <div class="views-menu w-95 mx-3 mb-3 overflow-y-hidden">

      <h3>Notas</h3>

      <div class="overflow-y-scroll h-100 w-100 d-flex flex-wrap justify-content-around mb-2">

        <div class="card nota-card" th:each="nota : ${notas}"
             th:attr="data-id=${nota.id}" th:style="'background-color: #' + ${nota.color}">
          <p th:text="${nota.titulo}" class="text-center m-auto fs-3"/>
        </div>

        <div class="overflow-separator"></div>

      </div>

    </div>

  </div>

  <div class="settings">

  </div>

</div>

<script src="/js/Escritorio.js"></script> <!-- Enlace al archivo JS -->
<div th:replace="fragments::javascript-full"/>
</body>
</html>
