<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Sattings</title>
</head>
<body>
<form>
    <label for="fname">Nombre:</label><br>
    <input type="text" id="fname" name="name"><br>
    <label for="lname">Apellidos:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Email:</label><br>
    <input type="text" id="lname" name="lname">
    <label for="lname">Contraseña:</label><br>
    <input type="text" id="lname" name="lname">
</form>
</form>
</body>
</html>