<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments :: head-full (titulo='Login')"></head>
<link rel="stylesheet" th:href="@{/css/login.css}">
<body>
  <form method="post" th:action="@{/login}" th:object="${loginData}" class="h-100 w-100">
    <div class="form-div w-50 mx-auto">
      <h1>Proyecto Notas</h1>

        <div class="mx-auto mt-5 w-50">
          <label for="email" class="mr-5">Email</label>
          <input id="email" type="email" class="w-100" th:field="*{email}"/>
        </div>

      <div class="mx-auto mt-5 w-50">
        <label for="password" class="mr-5">Contraseña</label>
        <div class="password-container">
          <input id="password" type="password" class="w-100" th:field="*{password}"/>
          <button type="button" id="togglePassword" class="password-toggle">Mostrar</button>
        </div>
      </div>


      <button type="submit" class="submit-button mx-auto mt-5 mb-5 w-25">Log-In</button>

        <a th:href="@{/registro}">¿O todavía no tienes cuenta?</a>
    </div>

    <div th:if="${errors}" role="alert"
         class="error-div alert alert-danger alert-dismissible fade show w-25 mx-auto mt-5">
      <p th:each="error : ${errors}" th:text="${error.defaultMessage}"></p>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </form>

  <div th:replace="fragments::javascript-full"/>
  <script src="/js/MostrarPswd.js"></script>
</body>
</html>